<table>
  <tr *ngFor="let line of people">
    <td *ngFor="let person of line">
      <div class="{{person.status}} cell" [ngClass]="{
        'superInfected':mostContagious== person.infections
        }" (click)="clickInfection(person.x,person.y,person)">
        <span class="value">{{person.value}}</span>
        <span class="infections">{{person.infections}}</span>
      </div>
    </td>
  </tr>
</table>
<h3>
  {{time}}ms
</h3>
<button mat-raised-button color="primary" (click)="checkAll()">Check all</button>
<div class="legend">
  <div class="example">
    <div class="tile">
      <span class="value">4</span>
      <span>
        (value)
      </span>
    </div>
    <div class="tile">
      <span class="infections">12</span>
      <span>(infections)</span>
    </div>
  </div>
  <div class="status infected">infected</div>
  <div class="status vaccinated">vaccinated</div>
  <div class="status safe">safe</div>
</div>
<router-outlet></router-outlet>
